<a href="https://colab.research.google.com/github/NishaimLimbu/Learning-Python-/blob/main/Lesson-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To print the written text. We use **"print"**.

In [2]:
print  ("Hello, World!")

Hello, World!

To break the line we use **"\n"**

In [4]:
print ("My name is Rakesh.\n I am 19.")

My name is Rakesh.
 I am 19.

Variabels, We can assign values to any variables like a=34, A=45 etc.
To assign string in variable we put words in between "" or ''.like a='rakesh', A="Rakesh"

In [5]:
a=75
print (a)

75

In [6]:
A="Rakesh"
print (A)

Rakesh

**f-string**: We use *f-string *to assign values in side the "" in print statement by giving variables inside {}. Simple calculation by assigning values.

In [8]:
a=45
b=75
sum=a+b
product=a*b
diff=b-a
div=b/a
print (f"Sum is {sum}.\nProduct is{product}.\nDifference is {diff}.\nDivision is {div}")

Sum is 120.
Product is3375.
Difference is 30.
Division is 1.6666666666666667

To ask input from user we use **"input"** statement

In [10]:
word = input ()

Rakesh

We can give message to user inside the **()** by inserting strings inside "".

In [11]:
name=input("Enter your name: ")
print (name)

Enter your name: Rakesh
Rakesh

In [16]:
age1=input ("Enter your age: ")
print (age1)

Enter your age: 18
18

The above inseted age is not an integer it is an string. To convert string number into integer we use **int().**

In [17]:
age2=int(input("Enter your age: "))
print (age2)

Enter your age: 19
19

Although both seems same they are different. If we add *age1 + age1* it will give result **1818**. But if we add *age2 + age2* it will give **38**.

In [18]:
sum1=age1+age1
sum2=age2+age2
print (sum1)
print (sum2)

1818
38

We can use **int(), float()** to convert string into any kind of number acc to your requirement.

Task 1: To create an calculater which can add, subtract, multiply, and divide two numbers.

In [21]:
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
sum=num1+num2
diff=num1-num2
prod=num1*num2
div=num1/num2
print ("sum is:", sum)
print ("difference is:", diff)
print ("product is:", prod)
print ("divide is:", div)

Enter first number: 75
Enter second number: 19
sum is: 94.0
difference is: 56.0
product is: 1425.0
divide is: 3.9473684210526314