<a href="https://colab.research.google.com/github/NishaimLimbu/Learning-Python-/blob/main/Lesson3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

While loop:

In [1]:
count=5
while (count>0):
  print(count)
  count=count-1

5
4
3
2
1

In [2]:
i=1
while (i<10):
  i =int (input ("enter the number: "))
  print (i)

enter the number: 10
10

In [3]:
count= 4
while (count > 5):
  print (count)
else :
  print ("4 is not greater than zero.")

4 is not greater than zero.

While True:
It will run the program until the condition becomes False.

*   break: break statement break the program. If it will not used in below program it will run for infinite time but break statement end the program.

In [4]:
while True:
  print ("hello")
  break

hello

In [5]:
for i in range(12):
  if (i==10):
    break #it breaks program after condition meets.
  print ("3 X", i+1, "=", 3*(i+1))
print ("end of program")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
end of program

continue: continue statement will skip the part which is mentioned in the condition.

In [6]:
for i in range(12):
  if (i==10):
    continue #it skip program after condition meets. It skip the 3*11=33 part.
  print ("3 X", i+1, "=", 3*(i+1))
print ("end of program")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 12 = 36
end of program

List:
list are made to store multiple item in single variable.
list are seperated by commas and enclosed in []. List can be canged and edited.

In [7]:
l=[3,5,6]
print (l)
print (type(l))
print (l[0])
print (l[1])

[3, 5, 6]
<class 'list'>
3
5

In [8]:
color=['red','blue','green']
print (color[2])

green

In [9]:
colors=['red','blue','green','yellow','grey']
if 'yellow' in colors:
  print ('it exist in list')
else :
  print ('don\'t exist')

it exist in list

In [10]:
#to make list of squares
num=[i*i for i in range(1,11)]
print (num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
#to make list of evens
num=[i for i in range(1,11) if i%2==0]
print (num)

[2, 4, 6, 8, 10]

In [12]:
name=["sachin","ram","soham","shyam","lakshman",'rome']
nameWith_0=[item for item in name if "o" in item]# print those name which contain o in it
print (nameWith_0)

['soham', 'rome']

In [13]:
#to add item in list
list=["ram","shyam","sita"]
list.append("gita") #append used to add item in list
print (list)

['ram', 'shyam', 'sita', 'gita']

In [14]:
#to remove item from list
list=["ram","shyam","sita"]
list.remove("shyam") #remove used to remove item from list
print (list)

['ram', 'sita']

In [15]:
#To sort the list
list=[8,5,1,9,10,4,6]
list.sort() #it sort in acending order
print (list)
list.reverse() #it sort in decending order
print (list)

[1, 4, 5, 6, 8, 9, 10]
[10, 9, 8, 6, 5, 4, 1]

In [16]:
#to count how many time the item is repeating in the list.
list=[1,2,1,8,5,7,6,9,1,2,5,7,9,1,5,7]
print (list.count(9))
print (list.count(1))

2
4

In [17]:
#to copy the list into new variable.
list1=[1,11,111,222,22,2]
list2=list1
list2[2]=666 #by doing this it effect the list1 also.
print ("effected by the list2 value change it changed in list1",list1)
list3=list1.copy()
list3[2]=999
print ("don't effect in list1 it is already effect by list2 but not by list3",list1)#now we can change the value in list3 don't effect list1
print ("it copied the value in other variable so don't effect the change",list3)

effected by the list2 value change it changed in list1 [1, 11, 666, 222, 22, 2]
don't effect in list1 it is already effect by list2 but not by list3 [1, 11, 666, 222, 22, 2]
it copied the value in other variable so don't effect the change [1, 11, 999, 222, 22, 2]

In [26]:
 #remove or popout the perticular item from list.
fruits=["apple",'banana','cherry']
fruits.pop (1)
print (fruits)

['apple', 'cherry']

In [18]:
#to insert the value in between the item of list without chaning with other
list=[1,5,9,7,6,2,4]
list.insert(2,10) #insert 10 in 2nd index
print (list)

[1, 5, 10, 9, 7, 6, 2, 4]

In [29]:
#remove the repeated input from the list.
fruits=["apple",'banana','cherry','apple','banana','cherry','apple','banana','cherry']
set(fruits)

{'apple', 'banana', 'cherry'}

In [19]:
#to put one list to other list
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list1.extend(list2)
print (list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Task: To make a program to add the shoping list from the user and also remove the item from list if not needed. And also show the user the final list which he/she chossen.

In [22]:
list1 =[]
print (list1)
print ("Start your shoping list by adding items:")
while True:
    x=int(input("enter '1' to add your shopping item and enter '2' to remove the item or to exit enter 'any number': "))
    if x==1:
            list1.append(input("add item: "))
            print(list1)
            z=int(input("enter '1' to add your shopping item and enter '2' to remove the item or to exit enter 'any number': "))
            if z==1:
                   list1.append(input ("add more: "))
                   print (list1)
                   continue
            elif z==2 :
                    list1.remove(input("remove item: "))
                    print (list1)
            else:
                   break

    elif x==2:
            list1.remove(input("remove item: "))
            print (list1)
            z=int (input ("enter '1' to add your shopping item and enter '2' to remove the item or to exit enter 'any number': "))
            if z==2:
                   list1.remove(input ("remove more: "))
                   print (list1)
            elif z==1:
                   list1.append(input ("add more: "))
                   print (list1)
            else :
                   break
    else :
           break
print ("This is you list",list1)

[]
Start your shoping list by adding items:
enter '1' to add your shopping item and enter '2' to remove the item or to exit enter 'any number': 1
add item: cloth
['cloth']
enter '1' to add your shopping item and enter '2' to remove the item or to exit enter 'any number': 1
add more: shoes
['cloth', 'shoes']
enter '1' to add your shopping item and enter '2' to remove the item or to exit enter 'any number': 1
add item: watch
['cloth', 'shoes', 'watch']
enter '1' to add your shopping item and enter '2' to remove the item or to exit enter 'any number': 2
remove item: shoes
['cloth', 'watch']
enter '1' to add your shopping item and enter '2' to remove the item or to exit enter 'any number': 3
This is you list ['cloth', 'watch']